<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL:   <%= link.url  %>
  </li>
  <% end %>
</ul>

<form action="/new_link" method="post">
  <button>Add New Link</button>
</form>
